<h3>Результаты поиска по запросу <em><%= params[:query] %></em></h3>

<h4>Вопросы:</h4>
<% @search_results.select { |result| result.is_a?(Question) }.each do |result| %>
  <h4><%= link_to highlight(result.title, params[:query]), result %></h4>
  <div><%= highlight(result.body.html_safe, params[:query]) %></div>
  <hr>
<% end %>

<h4>Ответы:</h4>
<% @search_results.select { |result| result.is_a?(Answer) }.each do |result| %>
  <h4><%= link_to highlight(result.body, params[:query]), result.question %></h4>
  <hr>
<% end %>

<h4>Комментарии:</h4>
<% @search_results.select { |result| result.is_a?(Comment) }.each do |result| %>
  <div>
    <%= link_to result.commentable.body, result.commentable %>
  </div>
  <div><%= result.body.html_safe %></div>
  <hr>
<% end %>


<h4>Пользователи:</h4>
<% @search_results.select { |result| result.is_a?(User) }.each do |result| %>
  <h4><%= link_to highlight(result.email, params[:query]), result %></h4>
  <hr>
<% end %>
